<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="37" android:compileSdkVersionCodename="17" android:installLocation="internalOnly" package="com.jnetai.kikx2.kikx2" platformBuildVersionCode="37" platformBuildVersionName="17">
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.any" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.flash" android:required="false"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CAMERA"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION"/>
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:maxSdkVersion="32" android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:maxSdkVersion="29" android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"/>
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO"/>
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.MAIN"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="http"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="https"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <category android:name="android.intent.category.BROWSABLE"/>
            <data android:scheme="http"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <category android:name="android.intent.category.BROWSABLE"/>
            <data android:scheme="https"/>
        </intent>
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.PICK"/>
            <data android:mimeType="*/*"/>
        </intent>
        <package android:name="kik.blue"/>
        <package android:name="kik.blue2"/>
        <package android:name="com.bluesmods.unbrickx"/>
        <package android:name="kik.android"/>
        <package android:name="com.android.vending"/>
        <intent>
            <action android:name="androidx.camera.extensions.action.VENDOR_ACTION"/>
        </intent>
    </queries>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <permission android:name="com.jnetai.kikx2.kikx2.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION" android:protectionLevel="signature"/>
    <uses-permission android:name="com.jnetai.kikx2.kikx2.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"/>
    <uses-permission android:maxSdkVersion="30" android:name="android.permission.BLUETOOTH"/>
    <application android:allowAudioPlaybackCapture="true" android:allowBackup="false" android:appCategory="social" android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:dataExtractionRules="@xml/data_extraction_rules" android:extractNativeLibs="true" android:fullBackupContent="false" android:hardwareAccelerated="true" android:icon="@drawable/ic_notification_badge" android:label="@string/app_name" android:manageSpaceActivity="com.jnetai.kikx2.kikx2.ui.activity.ManageSpaceActivity" android:name="com.jnetai.kikx2.kikx2.App" android:networkSecurityConfig="@xml/network_security_config" android:preserveLegacyExternalStorage="true" android:requestLegacyExternalStorage="true" android:roundIcon="@drawable/ic_notification_badge" android:supportsRtl="false" android:theme="@style/Theme.BlueKikX" android:usesCleartextTraffic="true">
        <property android:name="REQUIRE_SECURE_ENV" android:value="0"/>
        <meta-data android:name="REQUIRE_SECURE_ENV" android:value="0"/>
        <property android:name="android.window.PROPERTY_COMPAT_ALLOW_RESTRICTED_RESIZABILITY" android:value="true"/>
        <meta-data android:name="com.google.firebase.messaging.default_notification_icon" android:resource="@drawable/ic_notification_badge"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" android:exported="true" android:launchMode="singleTask" android:name="com.jnetai.kikx2.kikx2.ui.activity.BaseActivity" android:supportsPictureInPicture="true" android:theme="@style/Theme.BlueKikX.Splash.DayNight" android:windowSoftInputMode="adjustResize">
            <intent-filter android:autoVerify="false">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="kik.me" android:pathPattern=".*" android:scheme="http"/>
                <data android:host="kik.me" android:pathPattern=".*" android:scheme="https"/>
                <data android:host="www.kik.me" android:pathPattern=".*" android:scheme="http"/>
                <data android:host="www.kik.me" android:pathPattern=".*" android:scheme="https"/>
                <data android:host="kik.com" android:pathPrefix="/u/open/" android:scheme="http"/>
                <data android:host="kik.com" android:pathPrefix="/u/open/" android:scheme="https"/>
                <data android:host="kik.me" android:pathPattern=".*" android:scheme="http"/>
                <data android:host="kik.me" android:pathPattern=".*" android:scheme="https"/>
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="bluesmods.com" android:pathPrefix="/bluekik/links/" android:scheme="http"/>
                <data android:host="www.bluesmods.com" android:pathPrefix="/bluekik/links/" android:scheme="http"/>
                <data android:host="bluesmods.com" android:pathPrefix="/bluekik/links/" android:scheme="https"/>
                <data android:host="www.bluesmods.com" android:pathPrefix="/bluekik/links/" android:scheme="https"/>
            </intent-filter>
            <intent-filter android:autoVerify="false">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="kik.com" android:pathPrefix="/u/" android:scheme="kik-share"/>
                <data android:host="kik.com" android:pathPrefix="/g/" android:scheme="kik-share"/>
                <data android:host="kik.com" android:pathPrefix="/send/" android:scheme="kik-share"/>
                <data android:host="kik.com" android:pathPrefix="/back" android:scheme="kik-share"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="users" android:scheme="kik"/>
                <data android:host="group_search" android:scheme="kik"/>
                <data android:host="gs" android:scheme="kik"/>
                <data android:host="u" android:scheme="kik"/>
                <data android:host="users" android:scheme="kik"/>
                <data android:host="settings" android:scheme="kik"/>
                <data android:host="chat_settings" android:scheme="kik"/>
                <data android:host="open" android:scheme="kik"/>
                <data android:host="api.kik.com" android:scheme="kik"/>
                <data android:host="screen" android:scheme="kik"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="card"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="cards"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="kik.android" android:scheme="sns"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="bluekik"/>
            </intent-filter>
        </activity>
        <activity-alias android:enabled="false" android:exported="true" android:icon="@drawable/ic_settings_blue_premium" android:name="com.jnetai.kikx2.kikx2.PremiumIconProxy" android:roundIcon="@drawable/ic_settings_blue_premium" android:targetActivity="com.jnetai.kikx2.kikx2.ui.activity.BaseActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias android:enabled="true" android:exported="true" android:name="com.jnetai.kikx2.kikx2.DefaultIconProxy" android:targetActivity="com.jnetai.kikx2.kikx2.ui.activity.BaseActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity android:excludeFromRecents="true" android:exported="true" android:launchMode="singleInstance" android:name="com.jnetai.kikx2.kikx2.ui.activity.ShareActivity" android:noHistory="true" android:taskAffinity="" android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
                <data android:mimeType="image/*"/>
                <data android:mimeType="video/*"/>
                <data android:mimeType="audio/*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="image/*"/>
                <data android:mimeType="video/*"/>
                <data android:mimeType="audio/*"/>
            </intent-filter>
        </activity>
        <activity android:excludeFromRecents="true" android:exported="true" android:launchMode="singleInstance" android:name="com.jnetai.kikx2.kikx2.ui.activity.ManageSpaceActivity" android:noHistory="true" android:taskAffinity="" android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter android:icon="@drawable/ic_notification_badge" android:roundIcon="@drawable/ic_notification_badge">
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:excludeFromRecents="true" android:exported="false" android:name="com.jnetai.kikx2.kikx2.ui.videochat.IncomingCallActivity" android:noHistory="true" android:taskAffinity=".incomingcall" android:theme="@style/Theme.BlueKikX.Splash.DayNight"/>
        <receiver android:enabled="true" android:exported="false" android:name="com.jnetai.kikx2.kikx2.ui.videochat.IncomingCallActionsReceiver">
            <intent-filter>
                <action android:name="com.jnetai.kikx2.kikx2.voip.ACTION_DECLINE"/>
                <action android:name="com.jnetai.kikx2.kikx2.voip.ACTION_ACCEPT"/>
                <action android:name="com.jnetai.kikx2.kikx2.voip.ACTION_DISMISS"/>
            </intent-filter>
        </receiver>
        <service android:enabled="true" android:exported="false" android:foregroundServiceType="mediaPlayback|mediaProjection|camera|microphone" android:name="com.jnetai.kikx2.kikx2.ui.videochat.LiveKitCallService"/>
        <activity android:exported="false" android:name="com.yalantis.ucrop.UCropActivity" android:screenOrientation="portrait" android:theme="@style/UCropTheme"/>
        <provider android:authorities="com.jnetai.kikx2.kikx2.fileprovider" android:exported="false" android:grantUriPermissions="true" android:name="com.jnetai.kikx2.kikx2.BlueKikXFileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths"/>
        </provider>
        <service android:enabled="false" android:exported="false" android:name="com.google.android.gms.metadata.ModuleDependencies">
            <intent-filter>
                <action android:name="com.google.android.gms.metadata.MODULE_DEPENDENCIES"/>
            </intent-filter>
            <meta-data android:name="photopicker_activity:0:required" android:value=""/>
        </service>
        <service android:exported="false" android:foregroundServiceType="dataSync" android:name="com.jnetai.kikx2.kikx2.core.fgs.LongRunningService"/>
        <receiver android:exported="false" android:name="com.jnetai.kikx2.kikx2.core.fgs.LongRunningCancelReceiver"/>
        <service android:exported="false" android:name="com.jnetai.kikx2.kikx2.client.push.FcmPushHandler">
            <intent-filter android:priority="9999">
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <meta-data android:name="firebase_analytics_collection_deactivated" android:value="true"/>
        <meta-data android:name="google_analytics_adid_collection_enabled" android:value="false"/>
        <meta-data android:name="android.webkit.WebView.MetricsOptOut" android:value="true"/>
        <receiver android:enabled="true" android:exported="false" android:name="com.jnetai.kikx2.kikx2.core.power.AppStartReceiver">
            <intent-filter>
                <action android:name="com.jnetai.kikx2.kikx2.start"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON"/>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
            </intent-filter>
        </receiver>
        <service android:enabled="true" android:exported="false" android:name="com.jnetai.kikx2.kikx2.core.power.PushService" android:stopWithTask="false"/>
        <receiver android:enabled="true" android:exported="false" android:name="com.jnetai.kikx2.kikx2.core.notifications.messages.ReplyButton">
            <intent-filter>
                <action android:name="com.jnetai.kikx2.kikx2.ReplyButton.ACTION_MESSAGE_REPLY"/>
                <action android:name="com.jnetai.kikx2.kikx2.ReplyButton.ACTION_MESSAGE_MARK_READ"/>
                <action android:name="com.jnetai.kikx2.kikx2.ReplyButton.ACTION_MUTE"/>
                <action android:name="com.jnetai.kikx2.kikx2.ReplyButton.ACTION_MUTE_SPAM_BOT_NOTIFICATIONS"/>
                <action android:name="com.jnetai.kikx2.kikx2.ReplyButton.ACTION_UNBLOCK_USER"/>
            </intent-filter>
        </receiver>
        <provider android:authorities="com.jnetai.kikx2.kikx2.UnbrickContentProvider" android:enabled="true" android:exported="true" android:name="com.jnetai.kikx2.kikx2.apis.blue.ipc.IpcContentProvider"/>
        <uses-library android:name="androidx.camera.extensions.impl" android:required="false"/>
        <service android:enabled="false" android:exported="false" android:name="androidx.camera.core.impl.MetadataHolderService">
            <meta-data android:name="androidx.camera.core.impl.MetadataHolderService.DEFAULT_CONFIG_PROVIDER" android:value="androidx.camera.camera2.Camera2Config$DefaultProvider"/>
        </service>
        <service android:directBootAware="true" android:exported="false" android:name="com.google.mlkit.common.internal.MlKitComponentDiscoveryService">
            <meta-data android:name="com.google.firebase.components:com.google.mlkit.nl.languageid.bundled.internal.ThickLanguageIdRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.mlkit.vision.barcode.internal.BarcodeRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.mlkit.vision.common.internal.VisionCommonRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.mlkit.nl.languageid.internal.LanguageIdRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.mlkit.common.internal.CommonComponentRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <provider android:authorities="com.jnetai.kikx2.kikx2.mlkitinitprovider" android:exported="false" android:initOrder="99" android:name="com.google.mlkit.common.internal.MlKitInitProvider"/>
        <receiver android:exported="true" android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
            <meta-data android:name="com.google.android.gms.cloudmessaging.FINISHED_AFTER_HANDLED" android:value="true"/>
        </receiver>
        <service android:directBootAware="true" android:exported="false" android:name="com.google.firebase.messaging.FirebaseMessagingService">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:directBootAware="true" android:exported="false" android:name="com.google.firebase.components.ComponentDiscoveryService">
            <meta-data android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.ai.FirebaseAIRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.appcheck.FirebaseAppCheckKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.appcheck.FirebaseAppCheckRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.remoteconfig.FirebaseRemoteConfigKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.remoteconfig.RemoteConfigRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.FirebaseCommonKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.abt.component.AbtRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.datatransport.TransportRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <activity android:exported="false" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <provider android:authorities="com.jnetai.kikx2.kikx2.androidx-startup" android:exported="false" android:name="androidx.startup.InitializationProvider">
            <meta-data android:name="androidx.work.WorkManagerInitializer" android:value="androidx.startup"/>
            <meta-data android:name="androidx.emoji2.text.EmojiCompatInitializer" android:value="androidx.startup"/>
            <meta-data android:name="androidx.lifecycle.ProcessLifecycleInitializer" android:value="androidx.startup"/>
            <meta-data android:name="androidx.profileinstaller.ProfileInstallerInitializer" android:value="androidx.startup"/>
            <meta-data android:name="okhttp3.internal.platform.PlatformInitializer" android:value="androidx.startup"/>
        </provider>
        <service android:directBootAware="false" android:enabled="@bool/enable_system_job_service_default" android:exported="true" android:name="androidx.work.impl.background.systemjob.SystemJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:directBootAware="false" android:enabled="@bool/enable_system_foreground_service_default" android:exported="false" android:name="androidx.work.impl.foreground.SystemForegroundService"/>
        <receiver android:directBootAware="false" android:enabled="true" android:exported="false" android:name="androidx.work.impl.utils.ForceStopRunnable$BroadcastReceiver"/>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.RescheduleReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <provider android:authorities="com.jnetai.kikx2.kikx2.resources.AndroidContextProvider" android:enabled="true" android:exported="false" android:name="org.jetbrains.compose.resources.AndroidContextProvider"/>
        <service android:enabled="true" android:foregroundServiceType="mediaProjection" android:name="io.livekit.android.room.track.screencapture.ScreenCaptureService" android:stopWithTask="true"/>
        <uses-library android:name="androidx.window.extensions" android:required="false"/>
        <uses-library android:name="androidx.window.sidecar" android:required="false"/>
        <receiver android:directBootAware="false" android:enabled="true" android:exported="true" android:name="androidx.profileinstaller.ProfileInstallReceiver" android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.INSTALL_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SKIP_FILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SAVE_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.BENCHMARK_OPERATION"/>
            </intent-filter>
        </receiver>
        <service android:directBootAware="true" android:exported="false" android:name="androidx.room.MultiInstanceInvalidationService"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.backends.TransportBackendDiscovery">
            <meta-data android:name="backend:com.google.android.datatransport.cct.CctBackendFactory" android:value="cct"/>
        </service>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.JobInfoSchedulerService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <receiver android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.AlarmManagerSchedulerBroadcastReceiver"/>
        <activity android:exported="false" android:name="com.jakewharton.processphoenix.PhoenixActivity" android:process=":phoenix" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <service android:exported="false" android:name="com.jakewharton.processphoenix.PhoenixService" android:process=":phoenix"/>
    </application>
</manifest>
